* {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -o-box-sizing: inherit;
    box-sizing: inherit;
}
html, body{
    margin: 0;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#modulator {
    background-color: white;
    height: 100%;
}
#control_button {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: black;
    overflow: hidden;
    /*2px 2px 1px 3px ... 0px 0px 0px 3px*/
    box-shadow: 2px 3px 5px rgba(0,0,0,.19), 3px 4px 3px 1px rgba(0,0,0,.23);
}
#stop_icon {
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 30px;
}
#control_icon {
    height: 0;
    width: 0;
    border-left: 40px solid white;
    border-top:  20px solid transparent;
    border-bottom: 20px solid transparent;
    margin: 30px;
}
